.transition {
	&-opacity {
		&-enter {
			&-active {
				transition: all 0.4s;
			}
			&-from {
				opacity: 0;
				filter: blur(1rem);
			}
		}
		&-leave {
			&-active {
				transition: all 0.4s;
			}
			&-to {
				opacity: 0;
				filter: blur(1rem);
			}
		}
	}
	&-filter {
		&-enter {
			&-active {
				transition: all 0.4s;
			}
			&-from {
				filter: grayscale(1);
			}
		}
		&-leave {
			&-active {
				transition: all 0.4s;
			}
			&-to {
				filter: grayscale(1);
			}
		}
	}

	&-group {
		&-enter-active,
		&-leave-active {
			transition: all 0.5s ease;
		}
		&-enter-from,
		&-leave-to {
			opacity: 0;
			transform: translateX(30px);
		}
	}
}

.post-content {
	position: relative;
	> * {
		margin-bottom: 1rem;
	}
}
